.card-wrapper {
  margin: 3;
  width: 20rem;
  height: 24rem;
  margin-bottom: 1rem;
}

.card-container{
  height: 100%;
  background-color: #202124;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image{
  background-size: cover;
  width: 120px;
  height: 155px;
  margin: auto;
}

.card-title{
  height: 45px;
  margin-bottom: 15px;
}

.card-subtitle{
  color: rgb(209, 209, 209);
  text-align: right;
  margin-top: 0.5rem;
}

.out-of-stock{
  color: rgb(245, 106, 106);
}