.dropdown-toggle::after{
  display: none  !important;
}

.nav-link-bt{
  border-radius: 10px;
  width: 78px;
  text-align: left;
}

.nav-link-bt:hover{
    outline: 2px solid #0d6efd;
    color:#0d6efd !important;
    transition: outline,color 150ms ease-in-out;
}


.theme-toggle-shadow{
  display: none;
}

@media(min-width: 990px){
  .nav-link-bt{
    text-align: center;
  }

  .theme-toggle{
    animation: float 3s infinite ease-in-out;
    position: absolute;
    right: 1rem;
    bottom: 0;
  }

  .theme-toggle-shadow{
    display: block;
    animation: enlarge 3s infinite ease-in-out;
    background-color: rgb(97, 97, 97);
    border-radius: 50%;
    position: absolute;
    bottom: -30%;
    width: 25px;
    height: 10px;
    right: 1.5rem;
    transform: rotateX(45deg);
    margin-inline: 10px ;
  }

}

@keyframes enlarge{
  0%{
    transform: rotateX(45deg);
  }
  50%{
    transform: rotateX(45deg) scale(1.2);
  }
  100%{
    transform: rotateX(45deg);
  }
}

@keyframes float{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  }
}