.cart:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}

.dropdown {
  background-color: #212529;
  color: #fff;
}

.cart-item {
  font-size: small;
  border-bottom: 3px solid #747474;
}

.cart-dropdown{
  width: 20rem;
}

.check-out-button{
  font-size: 1rem;
  padding: 0;
  width: 50%;
  height: 35px;
  margin-left: 50%;
  margin-top: 1rem;
}
